<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>195010488036-0184i796ivims45fef0f73g4nsv0l9ot.apps.googleusercontent.com</string>
	<key>GOOGLE_ANALYTICS_REGISTRATION_WITH_AD_NETWORK_ENABLED</key>
	<false/>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.195010488036-0184i796ivims45fef0f73g4nsv0l9ot</string>
	<key>API_KEY</key>
	<string>AIzaSyCSqulaS1yML1wIqueo-qwSCDaicqIo4O4</string>
	<key>GCM_SENDER_ID</key>
	<string>195010488036</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.askjoe.ChatBot</string>
	<key>PROJECT_ID</key>
	<string>askjoe-71398</string>
	<key>STORAGE_BUCKET</key>
	<string>askjoe-71398.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:195010488036:ios:1a3d4554a5a34024076ef1</string>
</dict>
</plist>
